<div class="row">
  <div class="col-md-6 col-sm-4" *ngFor="let item of resultados">


    <div class="card mb-3 animate__animated animate__tada">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="item.images.downsized_medium.url" class="img-fluid rounded-start" [alt]="item.title">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.title | titlecase }} </h5>
            <p class="card-text"><small class="text-muted">Import date time {{ item.import_datetime }}</small></p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
