<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el common module
    </p>
</div>

<div class="grid text-layout">
    <div class="col">

        <p-card [header]="'UPPER CASE' | uppercase" [subheader]="nombreLower | uppercase" 
          styleClass="p-card-shadow">
          
          <ng-template pTemplate="footer">
            {{ nombreLower | uppercase }}
          </ng-template>
        </p-card>

    </div>

    <div class="col">
        <p-card [header]="'lower case' | lowercase" [subheader]="nombreLower" 
          styleClass="p-card-shadow">
          
          <ng-template pTemplate="footer">
            {{ nombreLower | lowercase }}
          </ng-template>
        </p-card>
    </div>

    <div class="col">
        <p-card [header]="'Title Case'" [subheader]="nombreLower | titlecase" 
          styleClass="p-card-shadow">

          <ng-template pTemplate="footer">
            {{ nombreLower | titlecase }}
          </ng-template>
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fechas | Pipe </h1>
    <p>
        Pipes para mostrar las fechas
    </p>
</div>

<div class="grid text-layout">

  <div class="col">

    <p-card styleClass="p-card-shadow">
        <ul>
            <li> Fecha </li>
            <li> Fecha | Date </li>
            <li> Fecha | short </li>
            <li> Fecha | long </li>
            <li> Fecha | Full </li>
            <li> Fecha | Custom </li>
        </ul>

        <hr>

        <ul>
          <li> Fecha | date:'long':'GMT-6'  </li>
          <li> Fecha | date:'long':'GMT10'  </li>
          <li> Fecha | date:'long':'GMT-8':'en' </li>
        </ul>
    </p-card>

  </div>

  <div class="col">

    <p-card styleClass="p-card-shadow">

        <ul>
            <li> {{ fecha }} </li>
            <li> {{ fecha | date }} </li>
            <li> {{ fecha | date:'short' }} </li>
            <li> {{ fecha | date:'long' }} </li>
            <li> {{ fecha | date:'fullTime' }} </li>
            <li> {{ fecha | date:'MMMM dd, yyyy' }} </li>
        </ul>
        <hr>

        <ul>
          <li> {{ fecha | date:'long':'GMT-6' }} </li>
          <li> {{ fecha | date:'long':'GMT10' }} </li>
          <li> {{ fecha | date:'long':'GMT-8':'en' }} </li>
        </ul>

    </p-card>

  </div>

</div>